<!DOCTYPE html>
<html>
	<head>
	   <title>AsciiChan!!</title>
	   <link rel="stylesheet" type="text/css" href="/stylesheets/ascii.css"/>   
	</head>
	<body>
		<div class=supertitle><br><h1>Ascii Art Blog!!</h1><br></div>
		<form method=post>
			<br><br>
			<div class=headings>Title :</div>
			<input class=t type=text name=title value='{{getTitle}}'>
			<br><br>
			<div class=headings>Enter Your Artwork Here:</div>
			<textarea name=artbox>{{getArt}}</textarea>
			<br><br>
			<div class=error>{{getError}}</div>
			<br>
			<input class=sb type=submit>
		</form>
		<hr>
		<div style='background-color:#FFFFAA'>
		{% for i in arts %}
			<br>
			<div class=entry>
				<div class=art-title><h4>{{i.title}}</h4></div>
				<div class=art-time align=right><h6>created on {{i.created}}</h6></div>
				<pre class=art-body>{{i.artwork}}</pre>
			</div>
			<br>
		{% endfor %}
		</div>
	</body>
</html>